.footer {
  text-align: center;
  align-items: center;
  padding: 12px;
  background-color: rgba(40,40,40,0.7);
}

.footer a {
  font-size: 28px;
  color: white;
  margin: 24px;
}

.footer p {
  color: rgba(50,50,50,0.9);
  margin-top: 8px;
  margin-bottom: 0;
}
